/* Going to have CPU holder on top and player selection below If i have time semi circle them around CPU
*/
   body {background-color: black;}

.gameWinner{
   /* border: solid gray;*/
    width: 250px;
    height: 100px;
    margin-left: 200px;
    font-size: small;
    color: white;

}
#resultText{
    margin-left: 0%;


}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    

}

.rock{
    font-size: larger;

}
.paper{
    font-size: larger;
}
.scissors{
    font-size: larger;
}
.scores{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-top: 60px;
    width: 80%;
    height: 150px;
    /*border: solid yellow;*/
    color: white;}


.gameWinner{
    display: flex;
    justify-content: space-around;
}

.cpuDisplay{
margin-left: 19%;

}

.resetButton{

    margin-top: 90px;
}