/* Going to have CPU holder on top and player selection below If i have time semi circle them around CPU
*/
   body {background-color: black;}

.gameWinner{
    border: solid gray;
    width: 120px;
    height: 100px;
    margin-left: 44%;
    font-size: large;
    color: white;
    text-align: center;

}
#resultText{
    margin-left: 50%;


}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}
.scores{
    display: flex;
    justify-content: space-evenly;
    margin-left: 280px;
    margin-top: 60px;
    width: 50%;
    height: 150px;
    border: solid yellow;
    color: aqua;}


.gameWinner{
    display: flex;
    justify-content: space-around;
}

.cpuDisplay{
margin-left: 31%;



}