/* Going to have CPU holder on top and player selection below If i have time semi circle them around CPU
*/
.gameWinner{
    border: solid gray;
    height: 100px;
    font-size: larger;
    color: blue;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}
.scores{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    border: solid yellow;
}


.gameWinner{
    display: flex;
    justify-content: space-around;
}